<div class="container">
  <!-- Title -->
  <h2 class="title">SEMAKAN SAMAN</h2>

  <!-- Form -->
  
  <form action="">
      <label for="plateno">Masukkan Nombor Pendaftaran Kenderaan </label><br><br>
      <input type="text" id="plateno" name="plateno">
  </form>
  <div class="button">
  <button type="button">Cari</button>
  </div>

  <!-- Info Section -->
  <div class="info-section">
    <h3>Akta saman kenderaan di Malaysia</h3>
    <ol>
      <li>
        Akta Pengangkutan Jalan 1987 (Akta 333) – Undang-undang utama berkaitan
        pengangkutan jalan, termasuk peraturan lalu lintas dan hukuman.
      </li>
      <li>
        Kaedah-Kaedah Lalu Lintas Jalan 1959 – Peraturan berkaitan kelakuan
        pengguna jalan raya.
      </li>
      <li>
        Kaedah-Kaedah Pengangkutan Jalan (Kesalahan-Kesalahan Yang Boleh Dikompaun)
        2003 – Menentukan kesalahan yang boleh dikenakan kompaun.
      </li>
    </ol>
  </div>
</div>
