<!-- direktori.component.html -->
<div class="app-container">
    <!-- Main Content -->
    <main class="main-content">
        <!-- Content -->
        <div class="content">
            <!-- Quick Access Section -->
            <h2>Direktori JPJ</h2>
            
            <section class="quick-access-section">
                <div class="quick-access-cards">
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/johor.jpg"></div>
                        <div class="card-content">
                            <h2>Johor</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/kedah.jpg"></div>
                        <div class="card-content">
                            <h2>Kedah</h2>
                        </div>
                    </div>

                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/kelantan.jpg"></div>
                        <div class="card-content">
                            <h2>Kelantan</h2>
                        </div>
                    </div>

                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/melaka.jpg"></div>
                        <div class="card-content">
                            <h2>Melaka</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/ns.jpg"></div>
                        <div class="card-content">
                            <h2>Negeri Sembilan</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/pahang.jpg"></div>
                        <div class="card-content">
                            <h2>Pahang</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/penang.jpg"></div>
                        <div class="card-content">
                            <h2>Pulau Pinang</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/perak.jpg"></div>
                        <div class="card-content">
                            <h2>Perak</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/perlis.jpg"></div>
                        <div class="card-content">
                            <h2>Perlis</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/selangor.jpg"></div>
                        <div class="card-content">
                            <h2>Selangor</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/terengganu.jpg"></div>
                        <div class="card-content">
                            <h2>Terengganu</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/sabah.jpg"></div>
                        <div class="card-content">
                            <h2>Sabah</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/sarawak.jpg"></div>
                        <div class="card-content">
                            <h2>Sarawak</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/kl.jpg"></div>
                        <div class="card-content">
                            <h2>W.P.Kuala Lumpur</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/labuan.jpg"></div>
                        <div class="card-content">
                            <h2>W.P.Labuan</h2>
                        </div>
                    </div>
                    <div class="quick-card">
                        <div class="card-icon"><img src="assets/putrajaya.jpg"></div>
                        <div class="card-content">
                            <h2>W.P. Putrajaya</h2>
                        </div>
                    </div>
                </div>
                <app-detail-negeri></app-detail-negeri>
            </section>
        </div>
    </main>

</div>