<section>
    <div class="container-kemaskini">
        <h1>Kemas Kini Profil</h1>
    </div>
    <div class="container-form">
        <form class="form">

            <label for="mykad">No. MyKad:</label>
            <div class="input-group">
                <fa-icon [icon]="faUser"></fa-icon>
                <input type="text" name="mykad" value="991010050099" disabled>
            </div>

            <label for="nama">Nama:</label>
            <div class="input-group">
                <fa-icon [icon]="faUser"></fa-icon>
                <input type="text" name="nama" value="IRFANI SHAMSUL BINTI JOHARI" disabled>
            </div>

            <label for="emel">E-mel:</label>
            <div class="input-group">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <input type="text" name="emel" value="irfani.shamsul@gmail.com" disabled>
            </div>

            <hr>
            <h3 class="text">
                Sila kemaskini maklumat anda di Portal Awam JPJ
            </h3>

        </form>
    </div>
</section>
