<!-- Content -->
<div class="content">
    <!-- Quick Access Section -->
    <section class="quick-access-section">
      <h2>Settings</h2>
      
      <div class="quick-access-cards">
        <div class="quick-card" (click)="goToPage('/kemaskini')">
            <div class="card-content">
              <h3>Profil</h3>
              <p>Kemas Kini Profil</p>
            </div>
          </div>
        
        
        
          <div class="quick-card" (click)="goToPage('/katalaluan')">
            <div class="card-content">
              <h3>Kata Laluan</h3>
              <p>Tukar Kata Laluan</p>
            </div>
          </div>
      </div>
    </section>